.packsActions {

}

.action_icon {
    width: 20px;
    height: 20px;
    cursor: pointer;
    margin-right: 10px;
}
.action_icon.action_delete {
    margin-right: 0;
}

.modalBtnsWrapper {
    display: flex;
    justify-content: flex-end;
}

.modalBtnsWrapper button {
    margin-right: 20px;
}
.modalBtnsWrapper button:nth-last-child(1) {
    margin-right: 0;
}