.wrapper{
    display: flex;
    position: relative;
    font-family: 'Montserrat', sans-serif;
    background-color: #F9F9FE;
    border-radius: 8px;
    padding: 20px 30px;
    margin-left: 5px;
    -webkit-box-shadow: -5px -5px 5px -5px rgba(34, 60, 80, 0.6) inset;
    -moz-box-shadow: -5px -5px 5px -5px rgba(34, 60, 80, 0.6) inset;
    box-shadow: -5px -5px 5px -5px rgba(34, 60, 80, 0.6) inset;
}

.spinnerWrapper {
    display: flex;
    justify-content: center;
    width: 100%;
    padding-top: 200px;
}


.packsList {
    width: 100%;
    margin-left: 20px;
}

.addNewPack {
    margin-bottom: 10px;
}

.packsTable {
    margin-bottom: 20px;
}
.addCardBtn {
    width: 100%;
    font-size: 18px;
    font-weight: 600;
    background-color: #6b15b7;
    border-color: #6b15b7;
}

.addCardBtn:hover {
    background-color: #7815cf;
    border-color: #7815cf;
}