.packBlock {
    font-family: 'Montserrat', sans-serif;
    background-color: #F9F9FE;
    max-width: 413px;
    min-height: 500px;
    border-radius: 8px;
    padding: 35px;
    display: flex;
    flex-direction: column;
    align-items: center;
    -webkit-box-shadow: -5px -5px 5px -5px rgba(34, 60, 80, 0.6) inset;
    -moz-box-shadow: -5px -5px 5px -5px rgba(34, 60, 80, 0.6) inset;
    box-shadow: -5px -5px 5px -5px rgba(34, 60, 80, 0.6) inset;
}
.wrapper{
    display: flex;
}

.packListHeader {
    display: flex;
    justify-content: space-between;
}

.btn{
    display: flex;
    margin-bottom: 50px;
}