.input {
    margin-bottom: 6px;
}

.signUpLabel {
    margin: 5px;
}
.linkSignUp{
    color: blueviolet;
}

.rememberLoginBlock{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 40px auto 0 auto;
}


.forgotPass {
    display: flex;
    justify-content: flex-end;
    font-size: 15px;
}

.lostPassword {
    color: blueviolet;
}

.submit {
    padding: 10px 30px !important;
    font-size: 18px !important;
}