.wrapper {
    display: flex;
    height: 2.5em;
}

.icon {
    height: 100%;
    margin-right: 0.2em;
    border-radius: 0.6em;
    box-shadow: 0 0 0.2em #6b15b7;
    -webkit-user-drag: none;
}

.text {
    display: flex;
    flex-direction: column;
    justify-content: center;
    color: #6b15b7;
    font-weight: bold;
    text-transform: uppercase;
    text-shadow: 0.12em 0.12em 0.2em rgba(88,25,146,0.6);
    font-size: 1em;
    line-height: 1em;
    user-select: none;
}