.recoveryForm {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
}

.recoveryNote {
    opacity: .5;
    margin-top: 6px;
    margin-bottom: 90px;
}

.submitBtn {
    padding: 10px 40px;
    font-size: 18px;
}