.authBlock {
    font-family: 'Montserrat', sans-serif;
    background-color: #F9F9FE;
    max-width: 413px;
    min-height: 500px;
    margin: 60px auto 0;
    border-radius: 8px;
    padding: 35px;
    display: flex;
    flex-direction: column;
    align-items: center;
    -webkit-box-shadow: -5px -5px 5px -5px rgba(34, 60, 80, 0.6) inset;
    -moz-box-shadow: -5px -5px 5px -5px rgba(34, 60, 80, 0.6) inset;
    box-shadow: -5px -5px 5px -5px rgba(34, 60, 80, 0.6) inset;
}

.mainLogo {
    margin-bottom: 25px;
    font-size: 25px;
    color: #6b15b7;
    font-weight: bold;
    text-transform: uppercase;
    text-shadow: 4px 4px 2px rgba(88,25,146,0.6);
}

.pageTitle {
    font-size: 20px;
    margin-bottom: 15px;
}


.navigationBlock {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    margin-top: 60px;
}

.navBlockLabel {
    margin-bottom: 15px;
    opacity: .5;
}

.navBlockLink {
    font-weight: 600;
    color: blueviolet;
}