:root {
	--rocket-white: #f5f5f5;
	--rocket-lightgrey: #dadada;
	--rocket-midgrey: #b4b2b2;
	--rocket-darkgrey: #554842;
	--rocket-red: #f01a19;
	--rocket-darkred: #a75248;
}



.wrapper {
	position: relative;
	/* display: flex;
	justify-content: center; */
	width: 80px;
	height: 180px;
	/* width: 150px;
	height: 250px; */
	/* width: 300px;
	height: 500px; */
	/* width: 500px;
	height: 500px; */
}

/* >>>>>>>>>>> ROCKET >>>>>>>>>>> */
.rocket_body {
	width: 100%;
	height: 100%;
	/* left: calc(50% - 50px); */
	animation: bounce 0.5s infinite;
}

.rocket_body:before {
	content: "";
	position: absolute;
	left: 50%;
	bottom: 0;
	transform: translate(-50%, 100%);
	width: 60%;
	/* height: 13px; */
	height: 7%;
	background-color: var(--rocket-darkgrey);
	border-bottom-right-radius: 60%;
	border-bottom-left-radius: 60%;
}

.body {
	background-color: var(--rocket-lightgrey);
	width: 100%;
	height: 100%;
	/* left: calc(50% - 50px); */
	border-top-right-radius: 100%;
	border-top-left-radius: 100%;
	border-bottom-left-radius: 50%;
	border-bottom-right-radius: 50%;
	border-top: 5px solid var(--rocket-white);
}

.window {
	position: absolute;
	width: 40px;
	height: 40px;
	border-radius: 100%;
	background-color: var(--rocket-darkred);
	left: 50%;
	top: 0;
	transform: translate(-62%, 100%);
	border: 5px solid var(--rocket-midgrey);
}

.fin {
	position: absolute;
	top: 100%;
	transform: translateY(-100%);
	z-index: -100;
	height: 30%;
	width: 60%;
	background-color: var(--rocket-darkred);
}

.fin_left {
	/* left: -30px; */
	left: -40%;
	border-top-left-radius: 80%;
	border-bottom-left-radius: 20%;
}

.fin_right {
	/* right: -30px; */
	right: -40%;
	border-top-right-radius: 80%;
	border-bottom-right-radius: 20%;
}




/* >>>>>>>>>> FLAME >>>>>>>>>> */
.exhaust_flame {
    position: absolute;
    z-index: -6;
	top: 90%;
	width: 35%;
	height: 83%;
	left: 50%;
	transform: translateX(-50%);
	background: linear-gradient(
		to bottom,
		transparent 10%,
		var(--rocket-white) 100%
	);
	animation: exhaust 0.2s infinite;
}



@keyframes bounce {
	0% {
		transform: translate3d(0px, 0px, 0);
	}
	50% {
		transform: translate3d(0px, -4px, 0);
	}
	100% {
		transform: translate3d(0px, 0px, 0);
	}
}


@keyframes exhaust {
	0% {
		background: linear-gradient(
			to bottom,
			transparent 10%,
			var(--rocket-white) 100%
		);
	}
	50% {
		background: linear-gradient(
			to bottom,
			transparent 8%,
			var(--rocket-white) 100%
		);
	}
	75% {
		background: linear-gradient(
			to bottom,
			transparent 12%,
			var(--rocket-white) 100%
		);
	}
}