.wrapper {
    width: 100%;
    border-radius: 50%;
    overflow: hidden;
    box-shadow: 0 0 10px #9f9f9f;
}
.image {
    max-width: 100%;
    min-height: 100%;
    object-fit: cover;
    user-select: none;
    -webkit-user-drag: none;
}