.wrapper {
    width: 300px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.pageTitle {
    font-size: 20px;
    margin-bottom: 35px;
}

.avatar {
    display: flex;
    justify-content: center;
    width: 100%;
    height: 100px;
    margin-bottom: 20px;
}

.line{
    width: 100%;
    border-bottom: 2px solid #c480da;
    margin-top:-15px
}

.underText{
    font-size: 10px;
    margin: 5px;
    opacity: 0.6;
    color:gray;
}

.buttons {
    display: flex;
    justify-content: space-between;
    width: 100%;
    margin-top:35px;
    margin-bottom: 10px;
}